@page "/location/"
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient _client
@inject IJSRuntime js
@inject HttpInterceptorServices _interceptor
@implements IDisposable
@attribute [Authorize]

<h3 class="card-title">Locations</h3>
<br />
<a href="/location/create" class="btn btn-info">
    <span class="oi oi-plus"></span>
    Create New Locations
</a>
<br />
<br />

@if (Locations == null)
{
    <div class="alert alert-info">Loading Locations...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Safety</th>
                <th>Address</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Locations)
            {
                <tr>
                    <td>@location.Name</td>
                    <td>@location.Safety</td>
                    <td>@location.Address</td>
                    <td>@location.City.Name</td>
                    <td>
                        <a href="/location/view/@location.LocationID" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/location/edit/@location.LocationID" class="btn btn-info" colour="green">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(location.LocationID))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Location> Locations;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Locations = await _client.GetFromJsonAsync<List<Location>>($"{Endpoints.LocationsEndPoint}");
    }

    async Task Delete(int locationID)
    {
        var location = Locations.First(q => q.LocationID == locationID);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {location.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.LocationsEndPoint}/{locationID}");
            await OnInitializedAsync();
        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }

}
